body{
    background: url(background.gif);
    background-repeat: no-repeat;
    background-size: 103%;
    background-position-y: -135px;
}

.contenido{
    color: black;
    background: white;
    opacity: 85%;
    padding: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px;
    width: 400px;
    height: 410px;
    margin: auto;
    margin-top: 5%;
}

img{
    width: 105px;
    height: 70px; 
    margin-left: 155px;
    opacity: 100%;
}

h2{
    text-align: center;
    color: #fc5a8d;
    font-size: 25px
}

.contenido .cuadros input{
    width: 100%;
    padding: 10px 0;
    color: black;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

.contenido .cuadros input[type="submit"]{
    background-color: #1415A7;
    color: white;
    opacity: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}
